html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    background-color: #050505;
    font-family: 'Titillium Web', sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

/* Customization for scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #5CE1E6 rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #5CE1E6;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

.black-text {
    font-weight: 900;
}

.bold-text {
    font-weight: 700;
}

.regular-text {
    font-weight: 400;
}

.liq-text {
    color: #5CE1E6;
}

.overlay-card {
    animation: slide-in-left 100ms ease-in;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-card div {
    animation: slide-in-right 400ms ease-in-out;
}

@keyframes slide-in-left {
    from {
        left: -10px;
    } to {
        left: 0;
    }
}

@keyframes slide-in-right {
    from {
        left: 50px;
    } to {
        left: 0;
    }
}

.back-to-all {
    background-color: transparent;
}

.blog-back {
    background-image: url("./assets/gridback.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.alumni-back {
    background-image: url("./assets/Group\ 29.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 35vh;
}

@media only screen and (max-width: 800px) {
    .back-to-all {
        background-color: #050505;
        z-index: 100;
    }
    .alumni-back {
        background-image: none;
    }
}