html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
}

/* Customization for scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: #5CE1E6 rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #5CE1E6;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}
